.containerskill {
  background-color: rgb(255, 0, 85);
  padding: 20px;
  border-radius: 10px;
}
.items {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(68, 68, 68, 0.295);
  padding: 25px;
  border-radius: 30px;
  width: 160px;
  height: auto;
  margin: 10px;
}
.items:hover {
  background-color: rgba(53, 53, 53, 0.466);
  color: white;
  transition: 0.2s;
}
.boxesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
